body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #3E3E3E;
    margin-bottom: 20px;
    margin-top: 0;
}

h2 {
    color: DimGray;
    font-size: 20px;
    font-weight: bold;
    margin-top: 4em;
    margin-bottom: 1.5em;
    text-align: center;
}

.authzone {
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input[type="password"] {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: 30px;
}

input[type="submit"] {
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #ffffff;
    border: none;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #4a8f4a;
}

p {
    color: grey;
    text-align: center;
}

footer {
    background-color: #f5f5f5;
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #999;
    text-decoration: underline;
}